.box {
  border: 5px solid black;
  padding: 20px;
  position: relative;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
}
.nadpis {
  font-size: 1.5em;
  @media (min-width: 720px) {
    font-size: 2rem;
  }
}
.row {
    display: flex;
    align-items: center;
}
.column {
    flex-basis: calc(100% / 3);
}
